html {
 font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
 margin: 0;
 width: 100%;
}

main {
 margin: 0px 3%
}

a {
 border: none;
 color: #6B5B95;
 font: inherit;
 text-decoration: none;
 outline: none;
}

.container {
 display: flex;
}

button,
button:focus {
 font: inherit;
 background: transparent;
 border: none;
 color: inherit;
 outline: none;
 cursor: inherit;
}

table {
 border-collapse: collapse;
}

th,
td {
 border-top: 1px solid #ddd;
 padding: 5px;
}


/* ---------------
        Navigation
      ---------------*/

nav {
 transition: all 0.3s;
}


/* Nav Side */

#nav-side {
 flex: none;
 width: 6cm;
 height: 100vh;
 background-color: #6B5B95;
 position: sticky;
 top: 0;
 z-index: 2;
}

#nav-side.active {
 margin-left: -6cm;
}

#nav-side ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

#nav-side a {
 display: flex;
 align-items: center;
 padding: 5px 5px;
 color: white;
}

#nav-side a:hover {
 background: white;
 color: black;
}

#nav-side .icon {
 font-size: 2em;
 flex: 0 0 1cm;
}

#nav-side-photo {
 justify-content: center;
 background-color: #42385a;
 padding: 5px 0px;
}

#nav-side-header {
 justify-content: center;
 background-color: #42385a;
 border-bottom-style: solid;
 padding-bottom: 4px;
 font-size: 1.5em;
}


/* Nav Top */

#nav-top {
 display: flex;
 background-color: #f8f9fa;
 padding: 8px 10px;
 box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
 justify-content: space-between;
 align-items: center;
 position: sticky;
 transition: top 0.3s;
}

#btn-collapse-side-nav,
#btn-collapse-side-nav:focus {
 z-index: 9999;
 border-radius: 4px;
 color: #6B5B95;
 background-color: transparent;
 border-color: transparent;
 box-shadow: none;
}

#btn-collapse-side-nav:hover,
#btn-collapse-side-nav:active {
 color: white;
 background-color: #6B5B95;
 border-color: none;
 box-shadow: none;
}

#nav-top-name {
 margin: 0;
}

@media (max-width: 768px) {
 #nav-side {
  width: 100%;
  margin-left: -100%;
  position: fixed;
 }
 #nav-side.active {
  margin-left: 0;
 }
}

/* ---------------
        Tooltip
      ---------------*/
/* https://www.w3schools.com/howto/howto_css_tooltip.asp */
/* http://jsfiddle.net/AndreaLigios/jtLbpy62/2281/ */
[data-tooltip] {
  border-bottom: 1px dotted black;   
}

[data-tooltip]:before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  left: 30%;
  /* customizable */
  transition: all 0.15s ease;
  padding: 10px;
  color: #333;
  border-radius: 10px;
  box-shadow: 2px 2px 1px silver;    
}

[data-tooltip]:hover:before {
  /* needed - do not touch */
  opacity: 1;
  
  /* customizable */
  background: white;
  margin-top: -50px;
  margin-left: 20px;    
}

[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}

 
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  /* width: 75px; */
  /* min-width: 75px;
  max-width: 255px; */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 70vmin;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  display: block;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  /* bottom: 125%;
  left: 50%;
  margin-left: -60px; */

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  /* top: 100%;
  left: 50%; */
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}