html{
 font-family: sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
 margin:0;
 width: 100%;
}

main{
 margin: 0px 3%
}

a{
 border: none;
 color: #6B5B95;
 font: inherit;
 text-decoration: none;
 outline: none;
}
.container{
 display: flex;
}

button, button:focus{
 font: inherit;
 background: transparent;
 border: none;
 color: inherit;
 outline: none;
 cursor: inherit;
}

table {
 border-collapse: collapse;
}

th, td {
 border-top: 1px solid #ddd;
 padding: 5px;
}
/* ---------------
     Navigation
   ---------------*/

nav{
 transition: all 0.3s;
}

/* Nav Side */
#nav-side{
 flex: none;
 width: 4cm;
 height: 100vh;
 background-color: #6B5B95;
 position: sticky;
 top: 0;
}

#nav-side.active{
 margin-left: -4cm;
}

#nav-side ul{
 list-style: none;
 padding: 0;
 margin: 0;
}

#nav-side a{
 display: flex;
 align-items: center;

 padding: 5px 5px;

 color: white;
}

#nav-side a:hover{
 background: white;
 color: black;
}

#nav-side .icon{
font-size: 2em;
flex: 0 0 1cm;
}

#nav-side-photo{
 justify-content: center;
 background-color: #42385a;
 padding: 5px 0px;
}

#nav-side-header{
 justify-content: center;
 background-color: #42385a;
 border-bottom-style: solid;
 padding-bottom: 4px;
}

/* Nav Top */
#nav-top{
 display: flex;
 background-color: #f8f9fa;
 padding: 8px 10px;
 box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
 justify-content: space-between;
 align-items: center;
}

#btn-collapse-side-nav, #btn-collapse-side-nav:focus{
 z-index: 9999;
 border-radius: 4px;
 color: #6B5B95;
 background-color: transparent;
 border-color: transparent;
 box-shadow: none;
}

#btn-collapse-side-nav:hover, #btn-collapse-side-nav:active  {
 color: white;
 background-color: #6B5B95;
 border-color: none;
 box-shadow: none;
}

#nav-top-name{
 margin: 0;
}


@media (max-width: 768px) {
 #nav-side{
  width: 100%;
  margin-left: -100%;
  position: fixed;
 }

 #nav-side.active{
  margin-left: 0;
 }

 #btn-collapse-side-nav.active{
  position: absolute;
  right: 5px;
  top: 5px;
 }
}