@import "fonts";
@import "rouge-github";
@import "colors";
@import "header";
@import "topbar";
@import "tooltip";

body {
  background-color: var(--clr-bg);
  padding: 50px;
  font: 15px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--clr-text);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr-h1-and-bold);
  margin: 0 0 20px;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 32px;
}

h2 {
  color: var(--clr-h2);
}

h3,
h4,
h5,
h6 {
  color: var(--clr-h-3-6);
}

a {
  // color: var(--clr-a-text);
  color: #1b5c26;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--clr-a-text-hvr);
}

a small {
  font-size: 11px;
  color: var(--clr-small-in-a);
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: var(--clr-small-in-a);
}

// added
p.link {
  margin: 0 0 4px;
}

// added
ul.link {
  list-style-type: none; /* Remove bullets */
  margin: 0; /* To remove default bottom margin */
  padding: 0.4px; /* To remove default left padding */
}

ul.link li + li {
  margin-top: 6px;
}

ul.link:last-child {
  margin-bottom: 6px;
}

blockquote {
  border-left: 1px solid var(--clr-splitter-blockquote-and-section);
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code,
pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono,
    Courier New, monospace;
  color: var(--clr-code-text);
}

pre {
  padding: 8px 15px;
  background: var(--clr-code-bg);
  border-radius: 5px;
  border: 1px solid var(--clr-code-border);
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid var(--clr-splitter-blockquote-and-section);
}

dt {
  color: var(--clr-table-header-and-dt);
  font-weight: 700;
}

th {
  color: var(--clr-table-header-and-dt);
}

img {
  max-width: 100%;
}

kbd {
  background-color: var(--clr-kbd-bg);
  border: 1px solid var(--clr-kbd-border);
  border-bottom-color: var(--clr-kbd-border-bottom-and-shadow);
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--clr-kbd-border-bottom-and-shadow);
  color: var(--clr-kbd-text);
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.wrapper {
  max-width: 860px;
  margin: 0 auto;
}

section {
  width: calc(100% - 250px);
  // max-width: 610px;
  float: right;
  padding-bottom: 30px;
}

label {
  display: none;
}

span {
  border-bottom: 1px solid #95c390;
}

@media print, screen and (max-width: 720px) {
  body {
    padding: 15px;
  }

  div.wrapper {
    width: auto;
    margin: 0;
  }

  section {
    float: none;
    position: static;
    width: -webkit-fill-available;
    // width: auto;
    float:right;
    padding-bottom:30px;
  }
}
