#tooltipbar {
  display: none;
  position: fixed;
  max-height: 20%;
  overflow: auto;
  max-width: inherit;
  background: white;
  bottom:0px;
  z-index:999;
  padding: 5px;
  border-top: 2px solid;
  border-image: radial-gradient(#1b5c26, rgba(0, 0, 0, 0)) 1;
}

