{% case site.color-scheme %}
  {% when "", nil, false, 0, empty %}
    {% assign ColorScheme = "auto" %}
  {% else %}
    {% assign ColorScheme = site.color-scheme %}
{% endcase %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <!-- <link rel="stylesheet" href="{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", ColorScheme | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> -->
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="preload" href="{{site.logo | relative_url}}" as="image">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    
  </head>
  
  
  <body>
    <div id="topbar">
        <input id="toggle" class="checkbox" type="checkbox" name="" id="" />
        <div for="toggle" class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
    </div>
    <div class="wrapper">
      <header>
        <div id="profile">
        
          {% if site.logo %}
              <img class="img-circle" src="{{site.logo | relative_url}}" alt="Logo">
          {% endif %}
          <div class="description">
  
          
          {% if site.blank_title %}
              <h1>{{ site.title | default: site.github.repository_name }}</h1>
          {% else %}
              <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
          {% endif %}
  
          {% if site.description!="" %}
              <p>{{ site.description | default: site.github.project_tagline }}</p>
          {% endif %}
  
          <div class="logo">
              <a href="https://www.linkedin.com/in/gmonet">
                  <img
                  src="/assets/images/linkedin.svg"
                  alt="Linkedin"/>    
              </a>
  
              <a href="https://www.researchgate.net/profile/Geoffrey_Monet">
                  <img
                  src="/assets/images/researchgate.svg"
                  alt="ResearchGate"/>    
              </a>
  
              <a href="https://scholar.google.com/citations?user=dR8-JFeu_hoC">
                  <img
                  src="/assets/images/scholar.svg"
                  alt="Google Scholar"/>    
              </a>
  
              <a href="https://github.com/gmonet/">
                  <img
                  src="/assets/images/github.svg"
                  alt="Github"/>    
              </a>
  
              <a href="geoffrey.monet@ens.fr">
                  <img
                  src="/assets/images/mail.svg"
                  alt="Contact me"/>    
              </a>
          </div>
          </div>
        </div>

        {% include navigation.html %}
      </header>
      
      <section>
        {{ content }}
        <div id="tooltipbar">
        </div>
      </section>
      

    </div>
    <script>
      function frame()
      {
        console.log('Event');
        tooltipbar =document.getElementById("tooltipbar");
        tooltipbar.innerHTML = this.attributes['data-tooltip'].value;
        tooltipbar.style.display="block";
        // this.style.color="blue";
        // this.style.color="blue";
      }
      spans = document.querySelectorAll('span')
      spans.forEach(span => {
        span.addEventListener('click', frame);
      });

      hamburger = document.querySelector('#toggle');
      header = document.querySelector('header');
      hamburger.onchange = function() {
      if(hamburger.checked) {
        header.style.transform = 'translateX(0)';
      } else {
        header.style.transform = 'translateX(-150%)';
      }}

      // $('span').onmouseover(function() {
      //   $(this).css('background-color','green');
      // })
      // document.querySelector('span').addEventListener('click', frame);
      
    </script>
    
    <!-- <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script> -->

  </body>
</html>